.game-info {
  text-align: center;
  .game-type {
    font-weight: bold;
    color: #333;
    font-size: 1.3rem;
  }
  .term {
    color: #333;
  }
  .status {
    font-weight: bold;
    font-size: 1.3rem;
  }
  .duration {
    color: #333;
  }
}
