.profile {
  display: flex;
  justify-content: center;
  align-items: center;
  & img {
    width: 8rem;
    height: 8rem;
  }
  & .info {
    margin-left: 3rem;
    & .name {
      font-size: 5rem;
      font-weight: bold;
    }
    & .level {
      font-size: 3rem;
    }
  }
}
