.item-box {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1f;
  grid-template-rows: 2rem 2rem;
  row-gap: 0.3rem;
  column-gap: 0.3rem;
  align-items: center;
  & .trinket {
    grid-column: 4/4;
    grid-row: 1/-1;
  }
  & img {
    width: 2rem;
    height: 2rem;
  }
}
