.map-board {
  position: relative;
  width: 80rem;
  height: 80rem;
  & .mini-map {
    width: 100%;
    height: 100%;
  }
  & .map-champ-portrait {
    position: absolute;
    transform: translate(-50%, -50%);
    & > img {
      border-radius: 50%;
      border: 3px solid;
      width: 3rem;
      height: 3rem;
    }
  }
}
